<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZDf0rhhUNuoFQs6_Jbw6__XXVyZ9Eiq0</string>
	<key>GCM_SENDER_ID</key>
	<string>853890329153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.swcore.chyaddr</string>
	<key>PROJECT_ID</key>
	<string>chyaddress</string>
	<key>STORAGE_BUCKET</key>
	<string>chyaddress.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853890329153:ios:857fce2662cc57b736f4c0</string>
</dict>
</plist>